{% extends "base.html" %}

{% block content %}
<div class="colum is-4 is-offset-4">
	<h3 class="title">Create A Community</h3>
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="notification is-danger">
			{{ messages[0] }} Go to <a href="{{ url_for('auth.signup') }}">signup page</a>.
		</div>
		{% endif %}
		{% endwith %}
		<form method="POST" action="/create_community">
			<div class="field">
				<div class="control">
					<input class="input is-large" name="community_name" placeholder="Community Name" autofocus="" maxlength="50">
				</div>
			</div>

            <label class="checkbox">
                <input type="checkbox" name="nsfw_flag"> NSFW?
            </label>

			<button class="button is-block is-info is-large is-fullwidth">Create</button>
		</form>

	</div>
</div>
{%endblock%}
