{% extends "base.html" %}

{% block content %}

<div class="columns">

	<!--Left column containing post and comments-->
	<div class="column is-three-quarters" name="title-box">

		<!--We can use media objects-->
		<!--media-->
		<article class="media">
		<!--upvote/downvote-->
			<div class="media-left">
				<a><span class="icon is-small"><i class="fas fa-arrow-up"></i></span></a>
				{{ post.upvotes - post.downvotes }}
				<a><span class="icon is-small"><i class="fas fa-arrow-down"></i></span></a>
			</div>
		<!--media-content-->
			<div class="media-content">
		<!--content-->
				<div class="content">
					<p><!--community logo-->
					<a href="{{ url_for('community.view_community', community_id=post.community_id) }}"><strong>{{ post.community_id }}</strong>
					· Posted by <a href="{{ url_for('main.profile', username = post.author) }}">u/{{ post.author }}</a>
					· {{ post.creation_datetime|format_post_age }} ago
					· {{ post.awards }} award
					<button class="button is-link is-rounded fas fa-plus">
						Join
					</button>
					<h1 class="title"> {{ post.title }} </h1>
		<!--flairs if any-->
		<!--post body-->
					{{ post.body }}
		<!--images if any-->

		<!--footers-->
		<!--comment icon + number of comments-->
		<!--award icon + Give Award-->
		<!--share button-->
		<!--save button-->
		<!--hide button-->
		<!--report button-->
		<!--percent upvote-->
		<!--end content and break-->
				</div>
			</div>
		</article>


		<!--start new media objects-->
		<!--get comments-->
		<!--probably use a double for loop-->
		<!--get original comment -->
		<!--get reply and reply to reply to reply...-->
		<!--upvote/downvote media-left-->
		<!--headers(username, points, comment age)-->
		<!--comment body-->
		<!--footers(reply, award, share, report, save)-->
		<article class="media">
			<figure class="media-left">
			  <p class="image is-64x64">
				<img src="https://bulma.io/images/placeholders/128x128.png">
			  </p>
			</figure>
			<div class="media-content">
			  <div class="content">
				<p>
				  <strong>Barbara Middleton</strong>
				  <br>
				  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
				  <br>
				  <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
				</p>
			  </div>
		  
			  <article class="media">
				<figure class="media-left">
				  <p class="image is-48x48">
					<img src="https://bulma.io/images/placeholders/96x96.png">
				  </p>
				</figure>
				<div class="media-content">
				  <div class="content">
					<p>
					  <strong>Sean Brown</strong>
					  <br>
					  Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
					  <br>
					  <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
					</p>
				  </div>
		  
				  <article class="media">
					Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.
				  </article>
		  
				  <article class="media">
					Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
				  </article>
				</div>
			  </article>
		  
			  <article class="media">
				<figure class="media-left">
				  <p class="image is-48x48">
					<img src="https://bulma.io/images/placeholders/96x96.png">
				  </p>
				</figure>
				<div class="media-content">
				  <div class="content">
					<p>
					  <strong>Kayli Eunice </strong>
					  <br>
					  Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
					  <br>
					  <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
					</p>
				  </div>
				</div>
			  </article>
			</div>
		  </article>
		  
		  <article class="media">
			<figure class="media-left">
			  <p class="image is-64x64">
				<img src="https://bulma.io/images/placeholders/128x128.png">
			  </p>
			</figure>
			<div class="media-content">
			  <div class="field">
				<p class="control">
				  <textarea class="textarea" placeholder="Add a comment..."></textarea>
				</p>
			  </div>
			  <div class="field">
				<p class="control">
				  <button class="button">Post comment</button>
				</p>
			  </div>
			</div>
		  </article>
	</div>


	<!--Right column containing community info, rules, moderators and flairs-->
	<div class="column">
		Filler for sub-info
		<br>

		Filler for sub-rules		
		<br>

		Filler for moderators
		<br>

		Filler for flairs
		<br>
	</div>
</div>

{% if post.author == current_user.username %}
<form action="{{ url_for('post.delete_post') }}" method="POST">
	<input type="hidden" name="id" value="{{ post.id }}">
	<button class="delete">
</form>
{% endif %}

{% endblock %}
